fastapi
uvicorn
pydantic
httpx
openai
requests
python-dotenv
nltk
pymongo
python-jose
passlib
google-auth
pyjwt
python-multipart
bcrypt
pytesseract
PyPDF2
bs4
#matplotlib
python-docx
fitz
PyMuPDF
reportlab